{% extends 'base.html' %}

{% block title %}
{% endblock title %}

{% block container %}
<h2>{{ movie.title }}</h2>
<p>누적 관객 수 : {{ movie.audience }}</p>

<p>장르 : {% for genre in movie.genres.all %}<span>{{ genre.name }}</span>{% endfor %}</p>
<a href="{% url 'movies:like' movie.pk %}">
  {% if user in movie.liked_users.all %}
  <i class="fas fa-heart fa-lg" style="color: red"></i>
  {% else %}
  <i class="far fa-heart fa-lg" style="color: red"></i>
  {% endif %}
</a>
<span>{{ movie.liked_users.all | length }}명이 이 영화를 좋아합니다.</span>
<hr/>
{{ movie.description }}
<hr/>

<h3>평가</h3>
<ul>
  {% for review in reviews %}
    <li>
      <span>★{{ review.score }} | {{ review.content }}</span>
      {% if request.user == review.user %}
        <form action="{% url 'movies:review_delete' movie.pk review.pk %}" method="post">
          {% csrf_token %}
          <button type="submit">삭제하기</button>
        </form>
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% if user.is_authenticated %}
  <form action="{% url 'movies:review_create' movie.pk %}" method="post">
    {% csrf_token %}
    {{ review_form.as_table }}
    <button type="submit">작성하기</button>
  </form>
{% endif %}

<br/>
<br/>
<a href="{% url 'movies:index' %}">돌아가기</a>
{% endblock container %}